<footer>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src="/static/images/queer.png" title = "impossible.">
    </a>
    <a href = "https://plasticdino.neocities.org/buttons">
        <img src="/static/images/kuromi virus.gif" title = "kuromi <3">
    </a>
    <a href = "https://zanarkand.neocities.org/summermemory">
        <img src = "static/images/panty.png" title = "panty <3">
    </a>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src = "/static/images/miku.gif" title = "miku <3">
    </a>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src = "/static/images/jirachi.gif" title = "jirachi <3">
    </a>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src = "/static/images/sheher.png" title = "she/her">
    </a>
    <a href = "https://koinuko.pink/mygraphics/buttons">
        <img src = "/static/images/design.png" title = "i AM design">
    </a>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src = "/static/images/demon.gif" title = "i am evil">
    </a>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src = "/static/images/transnow.gif" title = "NOW">
    </a>
    <a href = "https://plasticdino.neocities.org/buttons">
        <img src = "/static/images/thirdimpact.png" title = "soon">
    </a>
    <a href = "https://plasticdino.neocities.org/buttons">
        <img src = "/static/images/lain green.gif" title = "https://youtu.be/mk1KA4A0sr4">
    </a>
    <a href = "https://plasticdino.neocities.org/buttons">
        <img src = "/static/images/rollinggirl.gif" title = "mou ikkai">
    </a>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src = "/static/images/girl.gif" title = "girl.">
    </a>
    <a href = "https://cyber.dabamos.de/88x31/index.html">
        <img src = "/static/images/devils.gif" title = "devil">
    </a>
</footer>