<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
    </head>
<body>
    {% include "includes/navbar.html" %}
    <div style="display:flex;">
        <form method="POST" action="{{ url_for('views.characters') }}">
            <div style="display:flex;">
                <label for="char">Character:</label>
                <select name="char" id="char">
                    <option value="SO">SO</option>
                    <option value="KY">KY</option>
                    <option value="MA">MA</option>
                    <option value="AX">AX</option>
                    <option value="CH">CH</option>
                    <option value="PO">PO</option>
                    <option value="FA">FA</option>
                    <option value="MI">MI</option>
                    <option value="ZA">ZA</option>
                    <option value="RA">RA</option>
                    <option value="LE">LE</option>
                    <option value="NA">NA</option>
                    <option value="GI">GI</option>
                    <option value="AN">AN</option>
                    <option value="IN">IN</option>
                    <option value="GO">GO</option>
                    <option value="JC">JC</option>
                    <option value="HA">HA</option>
                    <option value="BA">BA</option>
                    <option value="TE">TE</option>
                    <option value="BI">BI</option>
                    <option value="SI">SI</option>
                </select>
                <label for="floor" style="margin-left:10px;">Floor:</label>
                <select name="floor" id="floor">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="99">Celestial</option>
                </select>
            </div>
            <input type="submit" value="Submit">
        </form>        
    </div>
    <div class = "image-and-graph">
    {% if image_path %}
        <div class="image-container">
            <img src="{{ image_path }}" alt="Selected character image" width="100%" height="100%">
        </div>
    {% else %}
        <div class="image-container"><a>no character selected...</a></div>
    {% endif %}

    {% if matchup_req %}
        <div class="graph-container"><h3>graphs</h3></div>
    {% else %}
        <div class="graph-container"><a>nothing selected...</a></div>
    {% endif %}

    {% if matchup_req %}
    <div class="matchup-container">
        <h3>matchups</h3>
        <table>
            <thead>
                <tr>
                    <th>Versus</th>
                    <th>Score</th>        
                </tr>
            </thead>
            <tbody>
                {% for row in matchup_req %}
                <tr>
                    <td>{{ row['Character 2'] }}</td>
                    <td>{{ row['Score']}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="matchup-container"><a>nothing selected...</a></div>
    {% endif %}
    </div>

</body>
{% include "includes/footer.html" %}
</html>