<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="list-container">
            <h2>Win rate</h2>
            <table>
                <thead>
                  <tr>
                    <th>Character</th>
                    <th>Win Rate</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in win_rate_req %}
                    <tr>
                      <td>{{ row['Character'] }}</td>
                      <td>{{ row['Win Rate'] }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        <form method="POST" action="{{ url_for('views.home') }}">
            <label for="floor">Floor:</label>
            <select name="floor" id="floor">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="99">Celestial</option>
            </select>
            <input type="submit" value="Submit">
        </form>
        
    </div>
</body>
</html>
