<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.3/datatables.min.js"></script>
</head>
<body>
    {% include "includes/navbar.html" %}
    <div class="container">
        <div class="list-container">
            <table class="sortable" id="myTable">
                <thead>
                  <tr>
                    <th>Character</th>
                    <th>Win Rate (%)</th>
                    <th>Pick Rate (%)</th>
                    <th>Raw Count</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in win_rate_req %}
                  <tr>
                    <td>{{ row['Character'] }}</td>
                    <td>{{ row['Win Rate'] }}</td>
                    {% if pick_rate_req %}
                      {% for pick_row in pick_rate_req %}
                        {% if row['Character'] == pick_row['Character'] %}
                          <td>{{ pick_row['Total pick rate'] }}</td>
                          <td>{{ pick_row['Raw Count'] }}</td>
                        {% endif %}
                      {% endfor %}
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
          </div>
        <form method="POST" action="{{ url_for('views.home') }}">
            <label for="floor">Floor:</label>
            <select name="floor" id="floor">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="99">Celestial</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#myTable').DataTable({
                "paging": false
            });
        });
    </script>
    {% include "includes/footer.html" %}
</body>
</html>